<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispositivos Cadastrados</title>
    <link rel="stylesheet" href="/static/styleDispositivos.css">
</head>
<body>
    <header>
        <a href="/" class="btn-voltar">&#8592;</a>
        <h1>Dispositivos Cadastrados</h1>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>IMEI</th>
                    <th>Data de Fabricação</th>
                </tr>
            </thead>
            <tbody>
                {% for dispositivo in lista_dispositivos %}
                    <tr>
                        <td>{{ dispositivo[0] }}</td>
                        <td>{{ dispositivo[1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <script>
        function scrollToTop() {
            window.scrollTo(0, 0);
        }
    </script>
</body>
</html>
