<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erros reportados pelos dispositivos</title>
    <link rel="stylesheet" href="/static/styleErros.css">
</head>
<body>
    <header>
        <a href="/" class="btn-voltar">&#8592;</a>
        <h1>Erros reportados pelos dispositivos</h1>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo do erro</th>
                    <th>IMEI</th>
                    <th>Data do erro</th>
                    <th>Ação recomendada</th> 
                </tr>
            </thead>
            <tbody>
                {% for erro in lista_erros %}
                    <tr>
                        <td>{{ erro[0] }}</td>
                        <td class="{% if erro[1] == 'BAD_CONFIGURATION' %}bad-config{% endif %}">{{ erro[1] }}</td>
                        <td>{{ erro[2] }}</td>
                        <td>{{ erro[3] }}</td>
                        <td>{{ erro[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function scrollToTop() {
            window.scrollTo(0, 0);
        }
    </script>
</body>
</html>
